@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

:root {
  font-family: "Josefin Sans", sans-serif, Helvetica, Arial;
  line-height: 1.5;
  font-weight: 300;

  color: #070607;
  background-color: #feebed;
}

@font-face {
  font-family: "Stella Wilson Regular";
  src: url("./assets/fonts/stella_wilson.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-pinyon: "Pinyon Script", cursive;
  --font-stella: "Stella Wilson Regular", cursive;
  --font-josefin-san: "Josefin Sans", sans-serif;
}